
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
h1 {
    text-align: center;
    font-family: "Michroma", sans-serif;
    font-weight: normal;
}
body{
    font-family: "Michroma", sans-serif;
    text-align: center;
}
.topNav {
    border:10px medium sea green;
    
   
}
iframe {
    border: 3px solid plum;
}
.link {
    display: inline;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
