
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
h1 {
    text-align: center;
    font-weight: bold;
    color:gold;
    font-family: "Michroma", sans-serif;
}
body{
    font-family: "Michroma", sans-serif;
    text-align: center;
}
.topNav {
    border: 10px solid greenyellow;
    z-index: 1;
    float: center;
}
.sideText {
    float: center;
    font-weight: normal;
    font-size: 50px;
    word-wrap: break-word;
}
iframe{
    outline: 3px #f44336;
}

.link {
    display: inline;
    border: 10px greenyellow;
    padding: 200px;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

.left{
    float: left;
    outline: 3px #f44336;
}

.right{
    float: right;
    outline: 3px #f44336;
}

.center{
    float: center;
    outline: 3px #f44336;
}
.sub{
    background-color: white;
    color: #f44336;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
h2 {
color:fuchsia;
}